BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_NAVIT=y
BR2_PACKAGE_SSD1306=y
BR2_PACKAGE_NAVIT_SSD1306=y
BR2_PACKAGE_NAVIT_GPSD_VEHICLE=y
BR2_PACKAGE_NAVIT_VEHICLE_GPSD=y
BR2_PACKAGE_GPSD_DEVICES="/dev/ttyAMA0"
BR2_PACKAGE_GPSD_SIRF=y
