BR2_PACKAGE_NAVIT=y
BR2_PACKAGE_NAVIT_GTK2=y
BR2_PACKAGE_CAIRO=y
BR2_PACKAGE_CAIRO_PS=y
BR2_PACKAGE_CAIRO_PDF=y
BR2_PACKAGE_CAIRO_PNG=y
BR2_PACKAGE_CAIRO_SVG=y
BR2_PACKAGE_GDK_PIXBUF=y
BR2_PACKAGE_LIBGTK2=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_PANGO=y
BR2_PACKAGE_LIBGLIB2=y
