+++ config-graphics-gtk	2017-09-17 11:59:34.981144209 -0700
+BR2_PACKAGE_XORG7=y
+
+
+BR2_PACKAGE_LIBXCB=y
+BR2_PACKAGE_XLIB_LIBX11=y
+BR2_PACKAGE_XLIB_LIBXAU=y
+BR2_PACKAGE_XLIB_LIBXDMCP=y
+BR2_PACKAGE_XLIB_LIBXEXT=y
+BR2_PACKAGE_XLIB_LIBXRENDER=y
+BR2_PACKAGE_XLIB_XTRANS=y
+
+
+
+
+BR2_PACKAGE_XCB_PROTO=y
+BR2_PACKAGE_XPROTO_INPUTPROTO=y
+BR2_PACKAGE_XPROTO_KBPROTO=y
+BR2_PACKAGE_XPROTO_RENDERPROTO=y
+BR2_PACKAGE_XPROTO_XEXTPROTO=y
+BR2_PACKAGE_XPROTO_XF86BIGFONTPROTO=y
+BR2_PACKAGE_XPROTO_XPROTO=y
+
+
+
+BR2_PACKAGE_NAVIT=y
+BR2_PACKAGE_NAVIT_GTK2=y
+
+
+BR2_PACKAGE_ZLIB=y
+BR2_PACKAGE_ATK=y
+BR2_PACKAGE_CAIRO=y
+BR2_PACKAGE_CAIRO_PS=y
+BR2_PACKAGE_CAIRO_PDF=y
+BR2_PACKAGE_CAIRO_PNG=y
+BR2_PACKAGE_CAIRO_SVG=y
+BR2_PACKAGE_FONTCONFIG=y
+BR2_PACKAGE_FREETYPE=y
+BR2_PACKAGE_GDK_PIXBUF=y
+BR2_PACKAGE_HARFBUZZ=y
+BR2_PACKAGE_LIBGTK2=y
+BR2_PACKAGE_LIBPNG=y
+BR2_PACKAGE_PANGO=y
+BR2_PACKAGE_PIXMAN=y
+BR2_PACKAGE_EXPAT=y
+BR2_PACKAGE_LIBFFI=y
+BR2_PACKAGE_LIBGLIB2=y
+BR2_PACKAGE_LIBPTHREAD_STUBS=y
+BR2_PACKAGE_PCRE=y
+BR2_PACKAGE_PCRE_UTF=y
+BR2_PACKAGE_PCRE_UCP=y
+BR2_PACKAGE_XUTIL_UTIL_MACROS=y
+BR2_PACKAGE_UTIL_LINUX=y
+BR2_PACKAGE_UTIL_LINUX_LIBBLKID=y
+BR2_PACKAGE_UTIL_LINUX_LIBMOUNT=y
+BR2_PACKAGE_UTIL_LINUX_LIBUUID=y
