BR2_PACKAGE_POWERTUNE=y

BR2_PACKAGE_RPI_WIFI_FIRMWARE=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_NL80211=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA_CLIENT_SO=y
BR2_PACKAGE_DHCPCD=y
BR2_PACKAGE_WPA_SUPPLICANT_AUTOSCAN=y
BR2_PACKAGE_WPA_SUPPLICANT_DBUS_NEW=y

BR2_INIT_SYSV=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_LINUX_KERNEL_DTS_OVERLAYS_SUPPORT=y

BR2_PACKAGE_RPI_USERLAND=y
BR2_ROOTFS_OVERLAY="../../overlay"

BR2_DL_DIR="../../../dl"
BR2_TARGET_ROOTFS_EXT2_SIZE="513M"
BR2_TARGET_GENERIC_ROOT_PASSWD="root"

# BR2_PACKAGE_I2C_TOOLS=y

BR2_TOOLCHAIN_BUILDROOT_CXX=y

BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2018.07"
